* {
  padding: 0;
  margin: 0;
}


/* Agrega estilos para ocultar la lista del menú por defecto */
#menu {
  display: none;
}

/* Agrega estilos para mostrar la lista del menú cuando tiene la clase 'active' */
#menu.active {
  display: block;
}

/* Agrega estilos para el botón de hamburguesa en estado activo */
.checkbtn.active .fas {
  color: #000;
  /* Cambia el color del icono a tu preferencia */
}

/* posicion del logo y forma */
.enlace {
  position: absolute;
  padding: 10px 70px;
}

.logo {
  height: 40px;
  cursor: pointer;
}

nav {
  height: 75px;
  /* Establecer la altura en 200 pixels */
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.5);
  z-index: 30;
}

/* tamaño de la lista menu  y colocacion*/
nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  cursor: pointer;
}

/* lista de menu nav el color de las palabras */
nav ul li a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(23, 48, 82);
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* transformacion de color al pasar raton por encima de las palabras del nav */
li a.active,
li a:hover {
  background: #7a4f8f;
  transition: 0.5s;
}

/* boton menu hamburguesa */
.checkbtn {

  position: relative;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  width: auto;
  font-size: 30px;
  color: #2f0743;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

.checkbtn {
  display: block;
}

#check {
  display: none;
}

.fa-bars {
  font-size: 24px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

.menuDesplegable {
  position: absolute;
  top: 80px;
  right: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(23, 48, 82);
  font-size: 18px;
  padding: 0px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  align-items: center;
}

.navegador ul.menu-desplegado {
  height: auto;
  padding: 10px;
}
.navegador ul.menu-desplegado li {
  display: block;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot-lnk {
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 20px;
  margin-top: 100px;
}

footer button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}

footer button:hover {
  text-decoration: underline;
}

footer .iconos {
  display: flex;
}

footer .iconos button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

footer .iconos button:hover img {
  filter: brightness(1.2);
}

footer .iconos button img {
  width: 30px;
  height: 30px;
  transition: filter 0.2s ease-in-out;
}

.has-content {
  margin-bottom: 100px;
  /* Ajusta la altura del contenido dinámico */
}

.footer-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}