<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="/static/js/sockjs.min.js"></script>
    <script src="/static/js/stomp.min.js"></script>
</head>
<body>
<div id="chat-container">
    <div id="messages-container">
        <!-- Los mensajes del chat se agregarán dinámicamente aquí -->
    </div>
    <form id="chat-form">
        <input type="text" id="message-input" placeholder="Escribe un mensaje...">
        <button type="submit">Enviar</button>
    </form>
</div>
<span id="articulo-id"      th:text="${articulo.idArticulo}" hidden></span>
<span id="propietario-id"   th:text="${propietario.idUsuario}" hidden></span>
<span id="usuario-id"       th:text="${usuario.idUsuario}" hidden></span>
<script th:inline="javascript">
    const articuloIdElement = document.getElementById('articulo-id');
    const idArticulo = articuloIdElement.textContent;

    const propietarioIdElement = document.getElementById('propietario-id');
    const idPropietario = propietarioIdElement.textContent;

    const usuarioIdElement = document.getElementById('usuario-id');
    const idUsuario = usuarioIdElement.textContent;

    console.log("Articulo ID:", idArticulo);
    console.log("Propietario ID:", idPropietario);
    console.log("Usuario ID:", idUsuario);

</script>
<script th:src="@{/static/chat.js}"></script> <!-- El archivo JavaScript con la lógica del chat que mencioné anteriormente -->
</body>
</html>
