<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/estilos.css" type="text/css">
  <link rel="stylesheet" href="/css/como-funciona.css" type="text/css">
  <script src="/js/index.js"></script>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

  <title>SnowShare</title>
</head>

<body>

  <nav class="navegador">
    <label htmlFor="check-menu" class="checkbtn" onclick="toggleMenu()">
      <i class="fas fa-bars"></i>
    </label>
    <ul class="menuDesplegable" id="menuDesplegable">
      <li sec:authorize="isAuthenticated()">
        <a href="/perfil">Perfil</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a href="/logout">Logout</a>
      </li>
    </ul>
    <a href="/index" class="enlace">
      <img src="/imagenes/logo.png" alt="" class="logo">
    </a>
    <ul>
      <li><a href="/como-funciona">Como funciona</a></li>
      <li><a href="/publicar-articulo">Publicar artículo</a></li>
      <li sec:authorize="!isAuthenticated()">
        <a href="iniciar-registrar-sesion">Iniciar sesión o Registrarse</a>
      </li>
    </ul>
  </nav>

  <div class="comofunciona">
    <div class="seclase1">
      <div class="seclase2">
        <div class="seclase3">
          <div class="seclase4">
            <div class="seclase5">
              <div class="seclase6">
                <h1 class="titulo">
                  Como alquilar
                </h1>
                <h1 class="titulo">
                  en SnowShare!
                </h1>
              </div>
              <h3 class="seclase7">
                Acceda a artículos sin poseerlos alquilándolos a personas de su
                vecindario en unos pocos y sencillos pasos.
              </h3>
            </div>
          </div>
          <div class="seclase8">
            <div class="seclase9">
              <div class="seclase10">
                <div class="seclase11"></div>
                <div class="seclase13">
                  <h1 class="titulo1">
                    Antes del alquiler
                  </h1>
                  <div class="seclase14">
                    <h3 class="subtitulo">
                      Encuentra un artículo cercano
                    </h3>
                    <p class="texto">
                      Busque los artículos que está buscando y filtre por ubicación.
                    </p>
                  </div>
                  <div class="seclase14">
                    <h3 class="subtitulo">
                      Solicitar y verificar
                    </h3>
                    <p class="texto">
                      Envíe una solicitud al prestamista para las fechas en que desea los artículos.
                      Su reserva sólo se confirma cuando el propietario acepta su solicitud.
                    </p>
                  </div>
                  <div class="seclase14">
                    <h3 class="subtitulo">
                      Arregle la entrega con el propietario
                    </h3>
                    <p class="texto">
                      Use el chat para organizar horarios convenientes para
                      recoger el artículo y hacer cualquier pregunta que pueda tener.
                    </p>
                  </div><a href="/search"><button class="boton">
                      <div class="seclase15">
                        Examinar elementos
                      </div>
                    </button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="seclase16">
            <div class="seclase17">
              <div class="seclase18">
                <div class="seclase13">
                  <h1 class="titulo1">
                    Durante el alquiler
                  </h1>
                  <div class="seclase14">
                    <h3 class="subtitulo">
                      Disfruta de tu alquiler y vuelve a tiempo
                    </h3>
                    <p class="texto">
                      Aproveche al máximo su tiempo con el artículo y luego
                      devuélvalo de manera segura al propietario al final del alquiler.
                    </p>
                  </div>
                  <div class="seclase14">
                    <h3 class="subtitulo">
                      ¿Necesito mas tiempo?
                    </h3>
                    <p class="texto">
                      Asegúrese de consultar con el prestamista
                      y reservar días adicionales si el artículo está
                      disponible y desea conservarlo por más tiempo.
                    </p>
                  </div><a href="/search"><button class="boton">
                      <div class="seclase15">
                        Examinar elementos
                      </div>
                    </button></a>
                </div>
                <div class="seclase19"></div>
              </div>
            </div>
          </div>
          <div class="seclase20">
            <div class="seclase21"></div>
            <div class="seclase22">
              <h1 class="seclase23">
                Jugando tu parte
              </h1>
              <p class="seclase24">
                Alquilar en SnowShare no solo es conveniente y rentable.
                Al comprar menos y alquilar más, también está contribuyendo a
                una economía circular, haciendo un mejor uso de los recursos y ayudando a proteger este maravilloso
                planeta en el que vivimos.
              </p><a href="/search"><button class="boton">
                  <div class="seclase15">
                    Examinar elementos
                  </div>
                </button></a>
            </div>
          </div>
          <div class="seclase25">
            <div class="seclase26"></div>
            <div class="seclase27">
              <h1 class="seclase28">
                ¿Quieres ganar algo de dinero también?
              </h1>
              <p class="seclase29">
                Alquile sus pertenencias a personas en su área para ganar algo de
                dinero extra.
              </p><a href="/lend"><button class="seclase30">
                  <div class="seclase31">
                    Aprende más
                  </div>
                </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- contenedor footer -->
  <footer>
    <button>Inicio sesión</button>
    <button>Política de privacidad</button>
    <button>Términos y condiciones</button>
    <button>Preguntas frecuentes</button>
    <button>¿Cómo funciona?</button>
    <div class="iconos">
      <button><img src="/imagenes/instagram.png" alt="Icono 1"></button>
      <button><img src="/imagenes/twitter.png" alt="Icono 2"></button>
      <button><img src="/imagenes/facebook.png" alt="Icono 3"></button>
    </div>
  </footer>


</body>

</html>