<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del artículo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    <link rel="stylesheet" href="/css/detalle-articulo.css" type="text/css">
    <script src="/js/index.js"></script>
</head>
<body>
    <nav class="navegador">
        <label htmlFor="check-menu" class="checkbtn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="menuDesplegable" id="menuDesplegable">
            <li>Como funciona</li>
            <li>Publicar un artículo</li>
        </ul>
        <a href="/index" class="enlace">
            <img src="/imagenes/logo.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="/como-funciona">Como funciona</a></li>
            <li><a href="/publicar-articulo">Publicar artículo</a></li>
            <li><a href="listado-articulos">Articulos</a></li>
            <li><a href="iniciar-registrar-sesion">Log out</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Detalle del artículo</h1>
        <div class="row">
            <div class="col-md-12">
                <div th:id="'carouselExampleControls' + ${articulo.idArticulo}" class="carousel slide">
                    <div class="carousel-inner">
                        <div th:each="imagenBase64, iterStat : ${imagenesPorArticulo[articulo.idArticulo]}" class="carousel-item" th:classappend="${iterStat.first} ? 'active' : ''">
                            <img th:src="'data:image/png;base64,' + ${imagenBase64}" class="d-block w-100" th:alt="${articulo.titulo}">
                        </div>
                    </div>
                    <th:block th:if="${#lists.size(imagenesPorArticulo[articulo.idArticulo])} > 1">
                        <a class="carousel-control-prev" th:href="'#carouselExampleControls' + ${articulo.idArticulo}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" th:href="'#carouselExampleControls' + ${articulo.idArticulo}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </th:block>
                </div>
                <h3 th:text="${articulo.titulo}"></h3>
                <p><strong>Descripción:</strong> <span th:text="${articulo.descripcion}"></span></p>
                <p><strong>Ubicación:</strong> <span id="codigoPostal" th:text="${articulo.codigoPostal}" hidden></span></p>
                <div id="map" data-codigo-postal="${articulo.codigoPostal}" style="width: 100%; height: 400px;"></div>
                <div class="form-group">
                    <label>Seleccione las fechas de reserva:</label>
                    <div id="calendar"></div>
                </div>
                <div class="comentarios">
                    <h4>Añadir comentario:</h4>
                    <form th:action="@{/articulos/{idArticulo}/comentar(idArticulo=${articulo.idArticulo})}" th:object="${comentario}" method="post">
                        <div class="form-group">
                            <textarea class="form-control" th:field="*{comentario}" placeholder="Escribe tu comentario aquí" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar comentario</button>
                    </form>
                </div>

                <div class="comentarios-lista">
                    <h4>Comentarios:</h4>
                    <div th:each="resenas : ${resenas}">
                        <div class="resenas">
                            <p>---------------------</p>
                            <p><strong th:text="${resenas.usuario.nombre}"></strong></p>
                            <p th:text="${resenas.comentario}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <button>Inicio sesión</button>
        <button>Política de privacidad</button>
        <button>Términos y condiciones</button>
        <button>Preguntas frecuentes</button>
        <button>¿Cómo funciona?</button>
        <div class="iconos">
            <button><img src="/imagenes/instagram.png" alt="Icono 1"></button>
            <button><img src="/imagenes/twitter.png" alt="Icono 2"></button>
            <button><img src="/imagenes/facebook.png" alt="Icono 3"></button>
        </div>
    </footer>
</body>
</html>
