<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplicación con Spring Boot</title>
    <!-- Incluye tu archivo CSS personalizado -->
    <link rel="stylesheet" th:href="@{/styles.css}"/>

    <!-- Incluye tu archivo JavaScript personalizado -->
    <script th:src="@{/main.js}"></script>
</head>
<body>
<div class="container">
    <h1>Aplicación con Spring Boot</h1>

    <!-- Botón de inicio de sesión -->
    <button onclick="window.location.href='/login'">Iniciar sesión</button>

    <!-- Botón de registro -->
    <button onclick="window.location.href='/usuarios'">Registrarse</button>

</div>
</body>
</html>
