<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todos los artículos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/listado-articulos.css" type="text/css">
    <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    <script src="/js/index.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>
<body>
<nav class="navegador">
    <label htmlfor="check-menu" class="checkbtn" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
    </label>
    <ul class="menuDesplegable" id="menuDesplegable">
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>
    <a href="/index" class="enlace">
        <img src="/imagenes/logo1-head.png" alt="" class="logo">
    </a>
    <ul>
        <li><a href="/como-funciona">Como funciona</a></li>
        <li><a href="publicar-articulo">Publicar artículo</a></li>

    </ul>
</nav>

<div class="container">
    <h1>Todos los artículos</h1>

    <div th:if="${#lists.isEmpty(articulos)}" class="alert alert-warning">
        No se han encontrado artículos para esta categoría.
    </div>
    <div class="row">
        <div th:each="articulo : ${articulos}" class="col-md-4">
            <div class="articulo" th:onclick="'redirectToArticle(' + ${articulo.idArticulo} + ');'">
                <div th:id="'carouselExampleControls' + ${articulo.idArticulo}" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div th:each="imagenBase64, iterStat : ${imagenesPorArticulo[articulo.idArticulo]}" class="carousel-item" th:classappend="${iterStat.first} ? 'active' : ''">
                            <img th:src="'data:image/png;base64,' + ${imagenBase64}" class="d-block w-100" th:alt="${articulo.titulo}">
                        </div>
                    </div>
                </div>
                <h3 th:if="${articulo.propietario.idUsuario} != ${usuarioActual.idUsuario}" th:text="${articulo.titulo}"></h3>
            </div>
        </div>
    </div>
</div>
<footer>
    <button>Inicio sesión</button>
    <button>Política de privacidad</button>
    <button>Términos y condiciones</button>
    <button>Preguntas frecuentes</button>
    <button>¿Cómo funciona?</button>
    <div class="iconos">
        <button><img src="/imagenes/instagram.png" alt="Icono 1"></button>
        <button><img src="/imagenes/twitter.png" alt="Icono 2"></button>
        <button><img src="/imagenes/facebook.png" alt="Icono 3"></button>
    </div>
</footer>
</body>
</html>
