<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <script src="/js/index.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <meta name="csrf-token" th:content="${_csrf.token}" />

    <title>SnowShare</title>
</head>

<body>

    <nav class="navegador">
        <label htmlFor="check-menu" class="checkbtn" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="menuDesplegable" id="menuDesplegable">
            <a href="/perfil">Perfil</a>
            <a href="/logout">Logout</a>
        </ul>
        <a href="/index" class="enlace">
            <img src="/imagenes/logo1-head.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="/como-funciona">Como funciona</a></li>
            <li><a href="publicar-articulo">Publicar artículo</a></li>
        </ul>
    </nav>

    <div class="contenedor">
        <div class="contenedor1">
            <div class="sector1">
                <div class="encabezado">
                    <img src="/imagenes/encabezado.svg">
                </div>
            </div>
            <div class="clase1">
                <div class="clase2">
                    <div class="clase3" id="cambiarFotoPerfil">
                        <img th:src="${fotoPerfilBase64 != null} ? 'data:image/jpeg;base64,' + ${fotoPerfilBase64} : '/imagenes/camera.svg'" alt="Foto de perfil" class="imagen-seleccionada" onclick="seleccionarImagen()" src="">
                        <input type="file" id="selector-imagenes" name="fotoPerfil" style="display:none" onchange="cargarImagen(event)">
                    </div>
                </div>
            </div>
            <form class="clase5" action="/actualizarNombre" method="POST">
                <h1 id="nombre" class="clase6" th:text="${nombreUsuario}" readonly>
                    Nombre Completo
                </h1>
                <img id="editar" src="/imagenes/lapiz.svg" alt="lapiz">
                <button type="submit" id="guardar" style="display:none;">Guardar</button>
                <div class="clase7"></div>
            </form>
            <div class="clase8">
                <div class="clase9">
                    <div id="opcion1" class="clase10 clase11">
                        <p id="opcion3" class="clase12">
                            Mis Reservas
                        </p>
                    </div>
                    <div id="opcion2" class="clase13 clase11">
                        <p id="opcion4" class="clase14">
                            Mis Articulos
                        </p>
                    </div>
                </div>
            </div>
            <div class="clase7"></div>
            <div class="clase15">
                <div th:each="reserva : ${reservas}" class="clase16">
                    <h3 th:text="${reserva.articulo.titulo}">Nombre Articulo</h3>
                    <p class="parrafo" th:text="${reserva.fechaInicio}"> Fecha Inicio: </p>
                    <p class="parrafo" th:text="${reserva.fechaFin}"> Fecha Fin: </p>
                    <form th:action="@{/eliminarReserva}" method="post">
                        <input type="hidden" th:value="${reserva.articulo.idArticulo}" name="articuloId"/>
                        <button type="submit"> Eliminar </button>
                    </form>
                </div>
                <div th:each="imagenArticulo, stat : ${primerasImagenes}" class="clase17">
                    <img th:id="'imagen-' + ${stat.index}" th:alt="${imagenArticulo.articulo.titulo}" class="imagen">
                    <h3 th:text="${imagenArticulo.articulo.titulo}">Nombre Articulo</h3>
                    <p class="parrafo" th:text="${imagenArticulo.articulo.descripcion}">Descripcion Articulo</p>

                    <a th:href="@{/articulos/{idArticulo}/editar(idArticulo=${imagenArticulo.articulo.idArticulo})}" class="btn btn-primary">
                        Editar
                    </a>

                    <form th:action="@{/eliminarArticulo}" method="post">
                        <input type="hidden" th:value="${imagenArticulo.articulo.idArticulo}" name="articuloId"/>
                        <button type="submit"> Eliminar </button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- contenedor footer -->
    <footer>
        <button>Inicio sesión</button>
        <button>Política de privacidad</button>
        <button>Términos y condiciones</button>
        <button>Preguntas frecuentes</button>
        <button>¿Cómo funciona?</button>
        <div class="iconos">
            <button><img src="/imagenes/instagram.png" alt="Icono 1"></button>
            <button><img src="/imagenes/twitter.png" alt="Icono 2"></button>
            <button><img src="/imagenes/facebook.png" alt="Icono 3"></button>
        </div>
    </footer>

    <script src="/js/perfilNew.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var imagenesBase64 = /*[[${imagenesBase64}]]*/ [];
    imagenesBase64.forEach(function(imagenBase64, index) {
        var imagenElement = document.getElementById("imagen-" + (index));
        if (imagenElement) {
            imagenElement.src = "data:image/png;base64, " + imagenBase64;
        }
    });
    /*]]>*/
</script>

</body>

</html>