<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplicación con Spring Boot</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <script th:src="@{/main.js}"></script>
</head>
<body>
<div class="container">
    <h1>Crear usuario</h1>
    <form id="formularioUsuario" action="#" th:action="@{/usuarios}" th:object="${usuario}" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required />

        <label for="correoElectronico">Correo electrónico:</label>
        <input type="email" id="correoElectronico" name="correoElectronico" required />

        <label for="fotoPerfil">Foto de perfil:</label>
        <input type="file" id="fotoPerfil" name="fotoPerfil" accept="image/*" required />

        <button id="botonCrearUsuario" type="submit">Crear usuario</button>
    </form>



</div>
</body>
</html>
